.main-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vh;
    color: #000;
    z-index: 1;
    transition: 0.4s ease-out;

    .logo {
        border: 1px solid #000;
        border-radius: 10px 0;
        padding: 7px;
        font-weight: 900;

    }

    a{
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }

    .nav-links{
        display: flex;
        list-style: none;


        .nav-link{
            transition: 
                opacity .4s ease-in-out,
                transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:nth-of-type(2){
                    transition-delay: 0.1s;
                }
                &:nth-of-type(3){
                    transition-delay: 0.2s;
                }
                &:nth-of-type(4){
                    transition-delay: 0.3s;
                }
            a{
                margin: .2rem;
                padding: 1rem .5rem;

                &:hover{
                    background: rgba(255,255,255,0.2);
                }
            }
        }
    }

    .menu-icon{
        position: relative;
        padding: 26px 10px;
        cursor: pointer;
        z-index: 1;
        display: none;

        &_line{
            display: block;
            position: relative;
            background: #000;
            height: 2px;
            width: 20px;
            border-radius: 4px;
            transition: background .8s ease;

            &::before, &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                background: #000;
                transition: background .8s ease;
            }
            &::before{
                transform: translateY(-5px);
            }
            &::after{
                transform: translateY(5px);
            }
        } 
    }
    .menu-btn{
        // display: none;
        position: absolute;
        top: -100px;

        &:focus ~ .menu-icon {
            .menu-icon_line{
                &::before {
                    transform: translateY(-7px);
                }
                &::after {
                    transform: translateY(7px);
                }
            }
        }
    }

    &.scrolled{
        height: 50px;
        background: rgba(0, 0, 0, 0.9);
        color: #fff;

        .menu-icon{
            &_line,
            &_line::before,
            &_line::after{
                background: #fff;
            }
        }
        .logo {
            border: 1px solid #fff;
        }
    }
}